### IDEA ###
.idea/

### logs dir ###
logs

### pid files ###
*.pid

### binary files ###
server.bin
client.bin

### build files ###
server.latest
client.latest

### exe files ###
server.exe
client.exe

### db files ###
db/*.db

### golang files ###
go.work
go.work.sum
*.swp
*.out
*.dll
*.so
# vendor/
test/*
testdata/*
uploads/
kvdatabase/

### tracer files ###
tracer.json
logger.json
meter.json
