[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = CN
stateOrProvinceName = Xinjiang
localityName = Urumqi
organizationName = LIBP2P Certificate Authority
organizationalUnitName = Libp2p Client Certificate
commonName = lclient.jianlu.site
# emailAddress = jianlu8023@gmail.com

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = lclient.jianlu.site
DNS.2 = *.jianlu.site
DNS.3 = localhost
DNS.4 = jianlu.site
IP.1 = 127.0.0.1
IP.2 = 192.168.58.110

[v3_libp2p_client_cert]
basicConstraints = critical, CA:FALSE # 这是一个终端实体证书
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
keyUsage = critical, digitalSignature # 数字签名是TLS客户端必需的
extendedKeyUsage = clientAuth # 明确指定此证书用于TLS客户端认证
# 如果客户端也需要SANs，则取消注释以下一行
subjectAltName = @alt_names